{% extends "base.html" %}

{% block title %}{{ _('Reset the password') }} - Troquez-Ici{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ _('Choose a new password') }}</h2>
    <p>{{ _('Please enter your new password below.') }}</p>
    <div id="message-container"></div>
    <form id="resetPasswordForm">
        <input type="hidden" id="token" name="token" value="{{ token }}">
        
        <div class="form-group">
            <label for="password">{{ _('New password') }}</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div id="password-rules" class="password-rules">
            <div id="length-rule" class="rule invalid">{{ _('At least 6 characters') }}</div>
            <div id="lower-rule" class="rule invalid">{{ _('One lowercase letter') }}</div>
            <div id="upper-rule" class="rule invalid">{{ _('One uppercase letter') }}</div>
            <div id="number-rule" class="rule invalid">{{ _('One digit') }}</div>
        </div>

        <div class="form-group">
            <label for="confirm_password">{{ _('Confirm the new password') }}</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="button-primary">{{ _('Reset the password') }}</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
{% endblock %}